apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: realidadstore
type: Opaque
stringData:
  POSTGRES_DB: realidadstoredb
  POSTGRES_USER: CAMBIAR_USUARIO
  POSTGRES_PASSWORD: CAMBIAR_PASSWORD
